nb-layout-header.fixed {
  z-index: 1000 !important;
}

.dx-widget,
.dx-field {
  font-size: inherit !important;
  font-family: inherit !important;
}

.display-block {
  display: block;
}

#toast-container>div {
  opacity: 1;
}

.dx-field-label {
  padding: 8px 0px 9px 0 !important;
  width: 30% !important;
}

.dx-field-value:not(.dx-switch):not(.dx-checkbox):not(.dx-button),
.dx-field-value-static {
  width: 70% !important;
}

[dir=rtl] .layout-container nb-sidebar.left {
  order: initial !important;
}