@import '~@angular/material/theming';


$custom-typography: mat-typography-config($font-family: 'Roboto,"Helvetica Neue",sans-serif');
@include mat-core($custom-typography);

$custom-primary: mat-palette($mat-blue);
$custom-accent: mat-palette($mat-red);
$custom-theme: mat-light-theme($custom-primary, $custom-accent);
@include angular-material-theme($custom-theme);
