.mat-form-field-label {
  height: 30px;
}

nb-layout-header.fixed {
  z-index: 1000 !important;
}


.mat-form-field-infix {
  width: initial !important;
}

#toast-container>div {
  opacity: 1;
}

[dir=rtl]  .layout-container nb-sidebar.left {
  order: initial !important;
}