.toolbar-btn {
  margin-left: 0.2rem;
}

.toolbar-btn:first-child {
  margin-left: 0;
}

.toolbar-separator {
  vertical-align: middle
}

.toolbar-separator:last-child {
  display: none;
}

.input-container {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 4px;
}

.text-filter-input {
  width: 90%;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

p-dropdown {
  display: block;
}

.ui-dropdown {
  width: 100%;
}

.ui-dropdown-list {
  padding-left: 0 !important;
}

.ui-autocomplete-items {
  padding-left: 0 !important;
}

.ui-toolbar {
  padding: .25em .5em !important;
}

.ui-calendar>.ui-inputtext {
  line-height: 1.4
}

.ui-autocomplete>.ui-inputtext {
  line-height: 1.4
}


p-radiobutton {
  margin-right: 6px;
}

.check-box-list>narik-checkbox {
  margin-right: 6px;
}

.vertical-radio-item {
  display: block;
}

.vertical-check-box-item {
  display: block;
}

.ui-calendar>.ui-inputtext {
  width: calc(100% - 33px);
}

.ui-calendar-w-btn {
  width: 100%;
}

.ng-trigger-overlayAnimation {
  z-index: 1040 !important;
}

.modal-dialog {
  overflow-y: initial !important
}

.modal-body {
  max-height: 75vh;
  overflow-y: auto;
}