<div class="header-container" [class.left]="position === 'normal'" [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation">
      <nb-icon icon='menu-outline'></nb-icon>
    </a>
    <div class="logo" (click)="goToHome()">{{headerTitle}}</div>
  </div>
</div>
<div class="header-container">
  <nb-actions size="medium" [class.right]="position === 'normal'" [class.left]="position === 'inverse'">
    <nb-action style="margin-left:50px">
      <nb-user nbContextMenuTag="user-context-menu" [nbContextMenu]="userMenu" [name]="user?.title"
        [picture]="'assets/images/user-avatar.png'"></nb-user>
    </nb-action>
  </nb-actions>
</div>